<template>
  <div class="mainPage">
    <main-header />
    <home />
  </div>
</template>

<script>
// @ is an alias to /src
import mainHeader from "../components/mainHeader";
import home from "../components/home";


export default {
  name: 'mainPage',
  components: {
    mainHeader,
    home
  }
}
</script>

