<template>
  <section id="home">
    <div class="row w-100">
      <div class="content w-100">
        <div class="title">
          <h1>Приветствую вас,<br>Я Андрей</h1>
        </div>
        <div class="text">
          <p>Я <span>верстальщик</span>,создающий потрясающие
            <span>сайты</span> на заказ или для компаний любого размера.Ниже вы можете посмотреть
            некоторые <a href="#">мои работы</a> или <a href="#">связаться со мной</a>.
          </p>
        </div>
      </div>
      <div class="scroll text-center justify-content-center">
        <a href="#home">Листать вниз</a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "home"
}
</script>

<style scoped lang="scss">

#home {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
  url("../assets/images/bg.jpg") no-repeat center;
  background-size: cover;

  .row {
    .content {
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
      padding: 10rem 0;
      color: white;

      h1 {
        font-size: 3.7rem;
        width: 85%;
        margin: auto;
      }
      .text{

      p {
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.5);
        max-width: 45%;
        margin: 35px auto;
        @media (max-width: 768px) {
          max-width: 85%;
        }
      }

        span {
          color: white;
        }
      }

      a {
        color: pink;
        transition: color 1s;
      }

      a:hover {
        color: orangered;
      }
    }

    .scroll {
      padding: 0 0 50px 0;

      a {
        letter-spacing: .4em;
        color: white;
        position: relative;
        line-height: 1;
        transition: color 2s ease;
      }

      a::after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background-color: orangered;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      a:hover::after {
        width: 100%;
      }

      a:hover {
        color: orangered;
      }
    }
  }

}

</style>
