<template>
  <header class="s-header w-100">
    <div class="row w-100">
      <nav class="m-auto d-flex text-center">
        <ul class="d-flex justify-content-between p-0 flex-sm-row flex-column w-100">
          <li><a class="active_link" href="#">Главная</a></li>
          <li><a href="#">Мои навыки</a></li>
          <li><a href="#">Мои работы</a></li>
          <li><a href="#">Связаться со мной</a></li>
        </ul>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
  name: "mainHeader"
}
</script>

<style scoped lang="scss">

header {
  position: absolute;
  z-index: 100;
  background-color: transparent;
  margin-top: 20px;

  .row {
    nav {
      width: 45%;
      @media (max-width: 1024px) {
        width: 75%;
      }

      a {
        color: #FFFFFF7F;
        transition: color 1.5s ease;
      }

      a:hover {
        color: orange;
      }

      .active_link {
        color: orangered;
      }
    }
  }
}

</style>
